<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>History of Wildfire Severity</b></div>
  <div><small>(Click on a cylinder to view details)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Wildfires from {{fromYear}} to {{toYear}}</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Display Options</div>
    <div class="legend-entry"><span><input id="non-forest-option" type="checkbox"></span> Show non-forest (e.g., shrubland) fires</div>
    <div class="legend-entry"><span><input id="cumulative-option" type="checkbox"></span> Show cumulative fire events</div>
  </div>
  {{> ../../../templates/playbackControl}}
  <div class="legend-box">
    <div class="legend-title">Predominant Burn Severity</div>
    <div class="legend-scale">
      <ul class="legend-items">
        <li><span style='background:#FF0000;'></span>High</li>
        <li><span style='background:#FFFF00;'></span>Moderate</li>
        <li><span style='background:#79FFD3;'></span>Low</li>
      </ul>
    </div>
    <div class="legend-explanation">Color corresponds with largest burn severity assessment area</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Area of Fire Boundary</div>
    <div class="legend-scale">
      <ul>
        <li><span class='lbox' style='width: 10px; height: 10px; border-radius: 5px'></span><br>Small</li>
        <li><span class='lbox' style='width: 20px; height: 20px; border-radius: 10px'></span><br>Med</li>
        <li><span class='lbox' style='width: 30px; height: 30px; border-radius: 15px'></span><br>Large</li>
      </ul>
    </div>
    <div class="legend-explanation">Cylinder base area is proportional to fire boundary acreage</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Cylinder height reflects</div>
    <div class="legend-entry">
      <b>Severity: &nbsp</b>
      <input id="hig-sev-acres" class="cyl-metric" name="cyl-metric" value="severityHighAcres" type="radio" checked> High
      <input id="mod-sev-acres" class="cyl-metric" name="cyl-metric" value="severityModerateAcres" type="radio"> Moderate
      <input id="low-sev-acres" class="cyl-metric" name="cyl-metric" value="severityLowAcres" type="radio"> Low
    </div>
    <div class="legend-entry">
      <b>Units: &nbsp</b>
      <input id="low-sev-ratio" class="cyl-unit" name="cyl-unit" value="acres" type="radio" checked> Acres
      <input id="low-sev-ratio" class="cyl-unit" name="cyl-unit" value="ratio" type="radio"> % over H+M+L
    </div>
    <div class="legend-scale">
      <ul>
        <li><span class='scyl' style='width: 30px; height: 20px;'></span><br>Small</li>
        <li><span class='mcyl' style='width: 30px; height: 30px;'></span><br>Medium</li>
        <li><span class='lcyl' style='width: 30px; height: 50px;'></span><br>Large</li>
      </ul>
    </div>
  </div>
  <div class="infoPanelCredit">Data Source: <a href="http://www.mtbs.gov/" target="_blank">MTBS</a></div>
  <div class="infoPanelCredit">To view most current wildfires: <a href="http://vis.ecowest.org/interactive/wildfires.php#f=all&loc=OR2&h=1" target="_blank">EcoWest</a></div>
</div>
