<div id="infoBoxContent">
  <div id="infoBoxTitle">
    <a id="ib-gotofire" href="#">Fire Name: {{fireName}}</a>
  </div>
  <div class="hline"></div>
  <div id="infoBoxItems">
    {{> fireItems}}
  </div>
</div>
