<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>The Journey of OR-7</b></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Timeline playback</div>
    <div class="legend-subtitle">[Running @ <b><span id='secsperyear'>3</span></b> seconds per year]</div>
    <div class="playback-controls">
      <div>
        <div class="howl-control">
          <a id="pb-slower" href="#" title="Faster"><img src="../../images/turtle.png"></a>
        </div>
        <div class="howl-control">
          <a id="pb-start" href="#" title="Start"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-play" href="#" title="Play/Pause"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-end" href="#" title="End"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-faster" href="#" title="Faster"><img src="../../images/rabbit.png"></a>
        </div>
      </div>
    </div>
    <div class="legend-explanation">Use buttons for playback control</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Wilderness Crossings</div>
    <div class="legend-entry" style="text-align: left; margin-left: 10px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          <li><span class="legend-item" style='background:#08ff00;'></span> Wilderness Area</li>
          <li><span class="legend-item" style='background:#d0ff00;'></span> Potential Wilderness Area</li>
        </ul>
      </div>
    </div>
    <div style="margin: 4px;"><input id="wildernessTransparency" type="range" min="0" max="100" value="80" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Hangout Areas</div>
    <div class="legend-entry" style="text-align: left; margin-left: 10px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          <li><span class="legend-item" style='background:#808000;'></span> Klamath Wander Area</li>
          <li><span class="legend-item" style='background:#996633;'></span> Oregon Residence Area</li>
        </ul>
      </div>
    </div>
    <div style="margin: 4px;"><input id="hangoutTransparency" type="range" min="0" max="100" value="80" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">OR7 Expedition Story Map</div>
    <div class="legend-entry"><span><input id="story-map-overlay" type="checkbox"></span> Display story map overlay</div>
    <div style="margin: 4px;"><input id="storymapTransparency" type="range" min="0" max="100" value="80" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Journey log</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul id="logEntries" class="v-legend-items">
      </ul>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">OR-7 Information Links</div>
    <div class="legend-entry" style="text-align: center; margin-left: 4px;">
      <ul class="v-legend-items">
        <div class="hline"></div>
        <div>Oregon Wild</div>
        <a href="http://www.oregonwild.org/wildlife/wolves/the-journey-of-or7" target="_blank">Don't Stop Believing: The Journey of OR-7</a><br>
        <div class="hline"></div>
        <div>Oregon Department of Fish and Wildlife</div>
        <a href="http://www.dfw.state.or.us/Wolves/index.asp" target="_blank">Wolves in Oregon</a><br>
        <a href="https://www.flickr.com/photos/odfw/sets/72157623481759903/" target="_blank">Photos - Mammals: Canine; Wolves</a><br>
        <a href="http://www.dfw.state.or.us/Wolves/Packs/Rogue.asp" target="_blank">Rogue Pack</a><br>
        <div class="hline"></div>
        <div>California Department of Fish and Wildlife</div>
        <a href="https://www.wildlife.ca.gov/Conservation/Mammals/Gray-Wolf/OR7-Story" target="_blank">OR-7 – A Lone Wolf's Story</a><br>
        <div class="hline"></div>
        <div>Documentaries</div>
        <a href="http://or7expedition.org/" target="_blank">Wolf OR-7 Expedition</a><br>
        <a href="https://www.or7themovie.com/" target="_blank">OR7 - The Journey</a>
        <div class="hline"></div>
        <div>Books</div>
        <a href="https://www.amazon.com/Journey-Amazing-7-Oregon-History/dp/1629013994" target="_blank">Journey: The Amazing Story of OR-7</a><br>
        <a href="https://www.amazon.com/Journey-Based-True-Story-Famous/dp/1632170655" target="_blank">Journey: Based on the True Story of OR7</a>

      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Sources:
    <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a>,
    <a href="http://or7expedition.org/" target="_blank">Wolf OR-7 Expedition</a>
  </div>
</div>
