<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>The Journey of OR-7</b></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Timeline playback</div>
    <div class="legend-subtitle">[Running @ <b><span id='secsperyear'>3</span></b> seconds per year]</div>
    <div class="playback-controls">
      <div>
        <div class="howl-control">
          <a id="pb-slower" href="#" title="Faster"><img src="../../images/turtle.png"></a>
        </div>
        <div class="howl-control">
          <a id="pb-start" href="#" title="Start"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-play" href="#" title="Play/Pause"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-end" href="#" title="End"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-faster" href="#" title="Faster"><img src="../../images/rabbit.png"></a>
        </div>
      </div>
    </div>
    <div class="legend-explanation">Use buttons for playback control</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">OR7 Expedition Story Map</div>
    <div class="legend-entry"><span><input id="story-map-overlay" type="checkbox"></span> Display story map overlay</div>
    <div style="margin: 4px;"><input id="infoPanelTransparency" type="range" min="0" max="100" value="80" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div id="infoPanelCredit">Data Sources:
    <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a>, 
    <a href="http://or7expedition.org/" target="_blank">Wolf OR-7 Expedition</a>
  </div>
</div>
