<div class="or7-photos-gallery">
	<a id="or7FirstPhoto" href="data/or7/or7photos/20140503.jpg" title="OR-7 on May 3, 2014" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/16674012963/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140503a.jpg" title="OR-7's mate (?) on May 3, 2014" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/16674012853/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140504.jpg" title="OR-7's mate (?) on May 4, 2014" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/17106489928/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140612.jpg" title="Two of OR-7’s pups on June 12, 2014" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/17108051289/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160608.jpg" title="OR-7 on June 8, 2016" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/28330683040/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160712-1.jpg" title="Rogue Pack Pups on July 12, 2016" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/28536438391/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160712-2.jpg" title="Rogue Pack Pups on July 12, 2016" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/27998141214/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20161023.jpg" title="OR-7 on October 23, 2016" subtitle="Oregon Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/30754760735/in/album-72157623481759903/"></a>
</div>
