<div class="or7-photos-gallery">
	<a id="or7FirstPhotoForId5" href="data/or7/or7photos/skylakes_Wikipedia_FS.jpg" title="Sky Lakes Wilderness" subtitle="U. S. Forest Service" source="https://en.wikipedia.org/wiki/Sky_Lakes_Wilderness"></a>
</div>
<div class="or7-photos-gallery">
	<a id="or7FirstPhotoForId6" href="data/or7/or7photos/lassenp_NPS.jpg" title="Lassen Volcanic National Park" subtitle="National Park Service" source="https://www.nps.gov/media/photo/gallery.htm?id=C6DF2D43-155D-4519-3EFE85D35659611A"></a>
</div>
<div class="or7-photos-gallery">
	<a id="or7FirstPhotoForId7" href="data/or7/or7photos/20140503.jpg" title="OR-7 on May 3, 2014" subtitle="U. S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/16674012963/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140503a.jpg" title="OR-7's mate (?) on May 3, 2014" subtitle="U. S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/16674012853/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140504.jpg" title="OR-7's mate (?) on May 4, 2014" subtitle="U. S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/17106489928/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20140602.jpg" title="Two of OR-7’s pups on June 2, 2014" subtitle="U.S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/17108051289/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160608.jpg" title="OR-7 on June 8, 2016" subtitle="U.S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/28330683040/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160712-1.jpg" title="Rogue Pack Pups on July 12, 2016" subtitle="U.S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/28536438391/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20160712-2.jpg" title="Rogue Pack Pups on July 12, 2016" subtitle="U.S. Fish and Wildlife Service" source="https://www.flickr.com/photos/odfw/27998141214/in/album-72157623481759903/"></a>
	<a href="data/or7/or7photos/20161023.jpg" title="OR-7 on October 23, 2016" subtitle="Oregon Department of Fish and Wildlife" source="https://www.flickr.com/photos/odfw/30754760735/in/album-72157623481759903/"></a>
</div>
