<div><b>The Journey of Wolf OR-7</b></div>
<div style="font-size: 80%;">Approximate position on <span id="or7PosDate">Oct 30, 2011</span></div>
<div style="font-size: 80%;">Last event: <span id="or7LastEvent">Exit Klamath wander area</span></div>
