<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Potential Wilderness Areas</b></div>
  <div><small>(Click on an ecoregion to view areas)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Ecoregions</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          {{#each labels}}
          <li><b>{{this.label}}</b> ({{acres}} Acres, {{percent}})</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Wilderness Acreage</div>
    <div class="legend-scale">
      <ul>
        <li style='width: 80px;'><span class='sshape' style='width: 60px; height: 20px;'></span><br>Less</li>
        <li style='width: 80px;'><span class='lshape' style='width: 60px; height: 40px;'></span><br> More</li>
      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
