<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Potential Wilderness Areas</b></div>
  <div><small>(Click on an ecoregion to view areas)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Ecoregions</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          {{#each labels}}
          <li><span class="legend-item" style="background:{{this.color}};"></span><b> {{this.label}}</b></li>
          <li><span class="legend-item"></span> ({{acres}} Acres, {{percent}})</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div id="transparencyLegend" class="legend-box">
    <div class="legend-title">Transparency</div>
    <div style="margin: 4px;"><input id="infoPanelTransparency" type="range" min="0" max="100" value="100" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Wilderness Acreage</div>
    <div class="legend-scale">
      <ul>
        <li style='width: 80px;'><span class='sshape' style='width: 60px; height: 20px;'></span><br>Less</li>
        <li style='width: 80px;'><span class='lshape' style='width: 60px; height: 40px;'></span><br> More</li>
      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
