<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" style="position: relative;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img src="../images/howlblack.svg" style="height: 70px">
        <small style="position: absolute; bottom: 12px;"><b>{{{version}}}</b></small>
    </div>
    <div class="modal-body">
      <h4>About this site</h4>
      Welcome to HOWL (Highlighting Oregon's WildLands), an interactive 3D/4D mapping and visualization tool for presenting information about the preservation of wilderness and wildlife protection in Oregon. <br><br>
      HOWL is a volunteer project made for <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>. HOWL is open source and uses open data.
      <hr>
      <h4>Data sources</h4>
      <ul>
        <li>Wildfire data from <a href="http://www.mtbs.gov/" target="_blank">Monitoring Trends in Burn Severity</a> (MTBS)</li>
        <li>Oregon's Bureau of Land Management (BLM) old growth forests, clearcuts in Federal lands, and current/potential wilderness areas from <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a></li>
        <li>Oregon ecoregions data from the <a href="https://www.epa.gov/eco-research/ecoregion-download-files-state-region-10" target="_blank">United States Environmental Protection Agency</a> (EPA)</li>
        <li>Douglas complex fire photograph from the <a href="http://www.oregon.gov/odf/" target="_blank">Oregon Department of Forestry</a></li>
        <li>Badger Creek Wilderness Area photograph from <a href="https://en.wikipedia.org/wiki/Badger_Creek_Wilderness" target="_blank">Wikipedia</a> user Axcordion</li>
        <li>OR-7 wolf photograph from the <a href="http://www.dfw.state.or.us/news/2014/may/051214.asp" target="_blank">Oregon Department of Fish and Wildlife</a></li>
        <li>OR7 Expedition Story Map from the <a href="http://or7expedition.org/" target="_blank">Wolf OR-7 Expedition Documentary Site</a> <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">(license)</a></li>
        <li>Wolf model from Joshua Crown via <a href="https://opengameart.org/users/crownjoshua" target="_blank">OpenGameArt.org</a></li>
      </ul>
      <h4>Open source components</h4>
      <ul>
        <li><a href="http://cesiumjs.org/" target="_blank">Cesium</a> Javascript library for globe and 3D mapping</li>
        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> for mobile friendly navigation bar and dialogs</li>
        <li><a href="https://jquery.com/" target="_blank">jQuery</a> mobile-friendly Javascript utility library</li>
        <li><a href="http://www.chartjs.org/" target="_blank">Chart.js</a> charting library</li>
        <li><a href="https://masonry.desandro.com/" target="_blank">Masonry</a> cascading grid layout library</li>
      </ul>
      <hr>
      <b>This is a work in progress.</b> Please report bugs and omissions. We are continually testing and enhancing this application over time. You are welcome to <a href="https://github.com/jimmyangel/howl" target="_blank">fork</a> this open source project and contribute to its development.<br><br>
      To learn more about this project, head over to <a href="http://blog.rikitraki.com" target="_blank">this blog.</a>
      <!-- Include Icon by Samuel Fine later -->
      <div>
        <h4>Feedback and questions are greatly appreciated</h4>
        <a href="https://twitter.com/intent/tweet?screen_name=jimmieangel" class="twitter-mention-button" data-related="jimmieangel">Tweet to @jimmieangel</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
      </div>
    </div> <!-- modal body -->
  </div> <!-- modal content -->
</div> <!-- modal dialog -->
