<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header" style="position: relative;">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img src="../images/howlmoonblack.svg" style="height: 70px">
        <small style="position: absolute; bottom: 12px;"><b>{{{version}}}</b></small>
    </div>
    <div class="modal-body">
      <h4>About this site</h4>
      Welcome to HOWL (Highlighting Oregon's WildLands), an interactive 3D/4D mapping and visualization tool for presenting information relevant to the protection of wilderness and wildlife in Oregon. <br><br>
      HOWL is a volunteer project made for <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>. HOWL is open source and uses open data.
      <hr>
      <h4>Data sources</h4>
      <ul>
        <li>World Imagery basemap from <a href="https://server.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer" target="_blank">Esri</a></li>
        <li>OpenStreetMap basemap from <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a></li>
        <li>USA Topo Map basemap from <a href="https://services.arcgisonline.com/arcgis/rest/services/USA_Topo_Maps/MapServer" target="_blank">Esri</a></li>
        <li>Oregon state boundary from the <a href="https://www.census.gov/geo/maps-data/data/tiger-cart-boundary.html" target="_blank">United States Census Bureau</a></li>
        <li>Historic wildfire data from <a href="http://www.mtbs.gov/" target="_blank">Monitoring Trends in Burn Severity</a> (MTBS)</li>
        <li>Oregon's Bureau of Land Management (BLM) old growth forests, clearcuts in Federal lands, current/potential wilderness areas, and OR7 journey route information from <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a></li>
        <li>Oregon ecoregions data from the <a href="https://www.epa.gov/eco-research/ecoregion-download-files-state-region-10" target="_blank">United States Environmental Protection Agency</a> (EPA)</li>
        <li>OR7 Expedition Story Map from the <a href="http://or7expedition.org/" target="_blank">Wolf OR-7 Expedition Documentary Site</a> <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">(license)</a></li>
        <li>Wolf model from Joshua Crown via <a href="https://opengameart.org/users/crownjoshua" target="_blank">OpenGameArt.org</a></li>
        <li>Recent wildfires data & active wildfires layer from <a href="https://www.geomac.gov/" target="_blank">Geospatial Multi-Agency Coordination</a> (GeoMAC)</li>
      </ul>
      <h4>Open source components</h4>
      <ul>
        <li><a href="http://cesiumjs.org/" target="_blank">Cesium</a> Javascript library for globe and 3D mapping</li>
        <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> for mobile friendly navigation bar and dialogs</li>
        <li><a href="https://jquery.com/" target="_blank">jQuery</a> mobile-friendly Javascript utility library</li>
        <li><a href="http://www.chartjs.org/" target="_blank">Chart.js</a> charting library</li>
        <li><a href="https://masonry.desandro.com/" target="_blank">Masonry</a> cascading grid layout library</li>
        <li><a href="http://dimsemenov.com/plugins/magnific-popup/" target="_blank">Magnific Popup</a> photos lightbox effect</li>
      </ul>
      <hr>
      <b>This is a work in progress.</b> Please report bugs and omissions. We are continually testing and enhancing this application over time. You are welcome to <a href="https://github.com/jimmyangel/howl" target="_blank">fork</a> this open source project and contribute to its development.<br><br>
      To learn more about this project, head over to <a href="https://morinricardo.com" target="_blank">this blog.</a>
      <!-- Include Icon by Samuel Fine later -->
      <div>
        <h4>Feedback and questions are greatly appreciated</h4>
        <a href="https://twitter.com/intent/tweet?screen_name=jimmieangel" class="twitter-mention-button" data-related="jimmieangel">Tweet to @jimmieangel</a>
        <script>
          window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };
            return t;
          }(document, "script", "twitter-wjs"));
        </script>
      </div>
    </div> <!-- modal body -->
  </div> <!-- modal content -->
</div> <!-- modal dialog -->
