<div id="cesiumContainer" class="col-xs-9 full-height no-gutter">
  <div class="leaflet-top leaflet-left">
    <div class="leaflet-bar leaflet-control">
      <a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a>
      <a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a>
    </div>
    <div class="leaflet-control leaflet-bar">
      <a id="resetView" href="#" title="Reset view"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
    </div>
    <div id="layerControl" title="Basemaps &amp; overlays" class="leaflet-control leaflet-control-layers" aria-haspopup="true">
    </div>
  </div>
  <div id="infoPanelSliderButton"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></div>
  <div id="infoBox"></div>
  <div id="viewLabel" style="display: none"></div>
  <div id="loadingIndicator" class="loadingIndicator"></div>
  <div id="featurePopUp" class="leaflet-container" style="display: none;"></div>
</div>
<div id="infoPanel" class="col-xs-3 full-height no-gutter"></div>
