<div id="featurePopUpContent" class="leaflet-popup" style="z-index: 10;">
  <a class="leaflet-popup-close-button" href="#">×</a>
  <div class="leaflet-popup-content-wrapper">
    <div id="featurePopUpLink" class="leaflet-popup-content" style="max-width: 300px;">
      <a class="popUpLink" popUpEntityId="{{id}}" href="#">{{name}}</a>
    </div>
  </div>
  <div class="leaflet-popup-tip-container">
    <div class="leaflet-popup-tip"></div>
  </div>
</div>
