<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2><img src="../images/howlblack.svg" style="height: 70px">Help</h2>
    </div>
    <div class="modal-body">
      <h4>To pan the view in the map area</h4>
      <ul>
        <li>Left-click and drag, or</li>
        <li>Command-click and drag, or</li>
        <li>Single finger drag gesture</li>
      </ul>
      <h4>To zoom the view in the map area</h4>
      <ul>
        <li>Right-click and drag, or</li>
        <li>Mouse wheel scroll, or</li>
        <li>Two finger pinch gesture</li>
      </ul>
      <h4>To rotate the view in the map area</h4>
      <ul>
        <li>Middle-click and drag, or</li>
        <li>Control-click and drag, or</li>
        <li>Two finger rotate gesture</li>
      </ul>
      <h4>Use the right side HOWL view panel to</h4>
      <ul>
        <li>See view legend</li>
        <li>Select display options</li>
        <li>Control timeline animation playback when available</li>
      </ul>
    </div> <!-- modal body -->
  </div> <!-- modal content -->
</div> <!-- modal dialog -->
