<a class="leaflet-control-layers-toggle" href="#"></a>
<form class="leaflet-control-layers-list">
  <div id="basemap-layer-control" class="leaflet-control-layers-base">
    {{#each imageryProviders}}
      <label>
        <input id="basemap-layer" value="{{@index}}" type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers"
        {{#if @first}}checked="checked">{{/if}}
        <span> {{this.name}}</span>
      </label>
    {{/each}}
  </div>
  <div id="overlay-layer-control">
    <div class="leaflet-control-layers-separator"></div>
    <div class="leaflet-control-layers-overlays">
      {{#each overlayImageryProviders}}
        <label><input id="overlay-layer" value="{{@index}}" type="checkbox" class="leaflet-control-layers-selector" name="leaflet-base-layers">
        <span> {{this.name}}</span>
        </label>
      {{/each}}
    </div>
  </div>
</form>
