<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="." id="logo" class="pull-left"></a>
  </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav nav-pills">
      <li class="dropdown" id="spotlightDropDown">
      </li>
      <li>
        <a id="summary-btn" role="button" href="#">Summary</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="about-btn" role="button" href="#"><span id="about-icon" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a id="help-btn" role="button" href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right nav-pills">
      <li>
        <a href="#" id="tw-btn" role="button" title="Share on Twitter" class="btn btn-social-icon btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" id="fb-btn" role="button" title="Share on Facebook" class="btn btn-social-icon btn-facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
