<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Spotlight Summary</h3>
    </div>
    <div id="summaryChartContainer" class="modal-body">
    </div> <!-- modal body -->
  </div> <!-- modal content -->
</div> <!-- modal dialog -->
