<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Hi <span id="hi-username"></span>!</h4>
      <p><br>You are currently logged into HOWL to perform data update functions...</p>
    </div>
    <div class="modal-body">
      <a id="logoffLink" href="">Log out of HOWL Admin</a>
    </div>
  </div>
</div>
