<div style="text-align: center; color: #666; font-size: 18px;">
  <b>A Sample of Wilderness Threats</b><br>({{tcount}} threats)
</div>
<canvas id='summaryChart' height="180"></canvas>
<div style="font-size: 80%">Data source: <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>, August 2017</div>
