<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>A Sample of Threats to Oregon's<br>Wildlands, Wildlife and Waters</b></div>
  <div><small>(Click on a marker to view threat info)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">A note on this Spotlight</div>
    <div class="legend-entry" style="margin: 4px;">
    The threats presented in this 'Spotlight' represent a sample of some of the threats facing Oregon's wildlands, wildlife and waters, and therefore it is NOT a comprehensive list.<br>This list will be updated periodically - Stay tuned.
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Threat Types</div>
    <div class="legend-entry"><span><input id="hide-circles-option" type="checkbox"></span> Hide circles</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          {{#each markerStyles}}
          <li><span class="legend-item" style="background:{{this.color}};"></span><b> {{this.legend}}</b></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">{{threats.length}} threats listed</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul class="v-legend-items">
        {{#each threats}}
        <li class="v-legend-item-sel threat-list-item">{{this.properties.threatName}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
