<div style="text-align: center; color: #666; font-size: 18px;">
  <b>Recent Wildfire Perimeters</b><br>
  <small>(Aproximate Monthly and Cumulative Acreage)</small>
</div>
<canvas id='summaryChart' height="180"></canvas>
<div style="font-size: 80%">Data sources: <a href="https://data-nifc.opendata.arcgis.com/" target="_blank">NIFC</a>, <a href="https://www.geomac.gov/" target="_blank">GeoMAC</a></div>
