<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Recent Wildfire Perimeters</b></div>
  <div><small>(Click on a marker to view wildfire perimeter)</small></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">A note on this Spotlight</div>
    <div class="legend-entry" style="margin: 4px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Select Year</div>
    <div class="legend-entry">
      <input id="hig-sev-acres" class="cyl-metric" name="cyl-metric" value="severityHighAcres" type="radio" checked> Current &nbsp
      <input id="mod-sev-acres" class="cyl-metric" name="cyl-metric" value="severityModerateAcres" type="radio"> 2017 &nbsp
      <input id="low-sev-acres" class="cyl-metric" name="cyl-metric" value="severityLowAcres" type="radio"> 2016
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">{{listOfFires.length}} wildfires listed</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul class="v-legend-items">
        {{#each listOfFires}}
        <li class="v-legend-item-sel rcwildfires-list-item" data-fireFileName="{{this.fireFileName}}">{{this.fireName}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
