<div style="text-align: center; color: #666; font-size: 18px;">
  <b>Recent Wildfire Perimeters</b>
</div>
<canvas id='summaryChart' height="180"></canvas>
<div style="font-size: 80%">Data source: <a href="https://www.geomac.gov/" target="_blank">GeoMAC</a></div>
