<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>History of Wilfire Severity</b></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Wildfires from 1984 to 2014</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Display Options</div>
    <div class="legend-entry"><span><input id="non-forest-option" type="checkbox"></span> Show non-forest (e.g., shrubland) fires</div>
    <div class="legend-entry"><span><input id="cumulative-option" type="checkbox"></span> Show cumulative fire events</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Timeline playback</div>
    <div class="legend-subtitle">[Running @ <b><span id='secsperyear'>3</span></b> seconds per year]</div>
    <div class="playback-controls">
      <div>
        <div class="howl-control">
          <a id="pb-slower" href="#" title="Faster"><img src="../../images/turtle.png"></a>
        </div>
        <div class="howl-control">
          <a id="pb-start" href="#" title="Start"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-play" href="#" title="Play/Pause"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-end" href="#" title="End"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
        </div>
        <div class="howl-control">
          <a id="pb-faster" href="#" title="Faster"><img src="../../images/rabbit.png"></a>
        </div>
      </div>
    </div>
    <div class="legend-explanation">Use buttons for playback control</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Predominant Burn Severity</div>
    <div class="legend-scale">
      <ul class="legend-items">
        <li><span style='background:#FF0000;'></span>High</li>
        <li><span style='background:#FFFF00;'></span>Moderate</li>
        <li><span style='background:#79FFD3;'></span>Low</li>
      </ul>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Area of Fire Boundary</div>
    <div class="legend-scale">
      <ul>
        <li><span class='lbox' style='width: 10px; height: 10px; border-radius: 5px'></span><br>Small</li>
        <li><span class='lbox' style='width: 20px; height: 20px; border-radius: 10px'></span><br>Med</li>
        <li><span class='lbox' style='width: 30px; height: 30px; border-radius: 15px'></span><br>Large</li>
      </ul>
    </div>
  </div>
  <div class="legend-box">
    <div class="legend-title">High Severity Area</div>
    <div class="legend-scale">
      <ul>
        <li><span class='scyl' style='width: 30px; height: 20px;'></span><br>Small</li>
        <li><span class='mcyl' style='width: 30px; height: 30px;'></span><br>Med</li>
        <li><span class='lcyl' style='width: 30px; height: 50px;'></span><br>Large</li>
      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.mtbs.gov/" target="_blank">MTBS</a></div>
</div>
