<div style="text-align: center; color: #666; font-size: 18px;">
  <b>The Journey of Wolf OR-7</b><br>(Over {{miles}} miles, excluding wandering)
</div>
<canvas id='summaryChart'></canvas>
<div style="font-size: 80%">Data source: <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>, May 2017</div>
