<div id="infoPanelContent">
  <div id="infoPanelTitle"><b>Proposed Wilderness Areas</b></div>
  <div class="hline"></div>
  <div class="legend-box">
    <div class="legend-title">Ecoregions</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <div class="v-legend-scale">
        <ul class="v-legend-items">
          {{#each labels}}
          <li><span class="legend-item" style="background:{{this.color}};"></span><b> {{this.label}}</b></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div id="transparencyLegend" class="legend-box">
    <div class="legend-title">Transparency</div>
    <div style="margin: 4px;"><input id="infoPanelTransparency" type="range" min="0" max="100" value="80" /></div>
    <div class="legend-explanation">Move the slider to adjust transparency</div>
  </div>
  <div class="legend-box">
    <div class="legend-title">Proposed Wilderness Areas</div>
    <div class="legend-entry" style="text-align: left; margin-left: 4px;">
      <ul class="v-legend-items">
        {{#each pwild}}
        <li>{{properties.proposedWildernessAreaName}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="infoPanelCredit">Data Source: <a href="http://www.oregonwild.org/" target="_blank">Oregon Wild</a></div>
</div>
