/*@import url(/lib/Cesium/Widgets/widgets.css);
@import url(/lib/Cesium/Widgets/lighter.css);*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800); */

@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~bootstrap/dist/css/bootstrap-theme.css);

html, body, #viewContainer {
  width: 100%; height: 100%; overflow: hidden;
}

#viewContainer {
  background-color: #000;
  padding-top: 50px;
}

#homeContainer {
  overflow: auto;
  height: 100%;
  background-color: white; padding-top: 0px;
  text-align: center;
}

.home-button {
  color: #9D9D9D;
}

.home-button:focus {
  color: #9D9D9D;
  text-decoration: none;
}

.home-button:hover {
  color: white;
  text-decoration: none;
}

.hline {
  margin-top: 5px;
  margin-bottom: 5px;
  width:100%;
  height:1px;
  background: #fff
}

.full-height {
  min-height: 100%;
  height: 100%;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.collapsed {
  display: block;
  margin-right: -25%;
}

.icon-flipped {
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#contentPanel {
  /*min-height: 100%;*/
  font-family: sans-serif;
}

#cesiumContainer {
  /*float: left;*/
  /*width: 75%; */
  /*min-height: 100%;*/
  /*overflow: hidden;*/
  transition: width .2s ease;
}

#viewLabel {
  text-align: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #F0F0F0;
  opacity: 0.8;
  padding: 2px;
  border-radius: 4px;
  max-width: 30%;
  z-index: 1000;
}

#infoPanel {
  /*float: right;*/
  /*width: 25%;*/
  /*min-height: 100%;*/
  background-color: #F0F0F0;
  transition: margin .2s ease;
  z-index: 1000;
}

#infoPanelContent {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 10px;
  height: 99%;
  background-color: #F0F0F0;
  text-align: center;
  overflow-y: scroll;
}

#infoPanelTitle {
  text-align: center;
}

#infoPanelCredit {
  font-size: 70%;
  /*position: absolute;
  bottom: 4px;*/
}

#infoPanelSliderButton{
  cursor: pointer;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 2px;
  position: absolute;
  background:#F0F0F0;
  top:50px;
  right: 0;
  z-index: 1000;
}

.centerBlock {
  margin: auto;
  display: inline-block;
}

#infoBox {
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: -30%;
    width: 30%;
    max-height: 60%;
    opacity: 0;
    background-color: #F0F0F0;
    border: 1px solid white;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 999;
    overflow-y: scroll;
}

#infoBoxTitle {
  font-weight: bold;
  text-align: center;
}

#infoBoxContent {
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 90%;
}

#logo img {
  padding-top: 3px;
  height: 47px;
}

#logo {
  cursor: pointer;
  margin-top: 4px;
  height: 46px;
  width: 60px;
  background: url('../images/howlmoongray.svg');
  background-size: 44px;
  background-repeat: no-repeat;
}

#logo:hover {
  cursor: pointer;
  margin-top: 4px;
  height: 46px;
  width: 60px;
  background: url('../images/howlmoonwhite.svg');
  background-size: 44px;
  background-repeat: no-repeat;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 28px;
}

.nav {
  font-size: 18px;
  color: #FFFFFF;
}

.spinnerContainer {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lbox {
  display: inline-block;;
  border: 1px solid black;
  margin: 1px;
}

.scyl {
  display: inline-block;
  background-image: url(../images/scylinder.svg);
  background-repeat: no-repeat;
}

.mcyl {
  display: inline-block;
  background-image: url(../images/mcylinder.svg);
  background-repeat: no-repeat;
}

.lcyl {
  display: inline-block;
  background-image: url(../images/lcylinder.svg);
  background-repeat: no-repeat;
}

.sshape {
  display: inline-block;
  background-image: url(../images/sshape.svg);
  background-repeat: no-repeat;
}

.lshape {
  display: inline-block;
  background-image: url(../images/lshape.svg);
  background-repeat: no-repeat;
}

.llbox {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 1px;
}
.blue {
  background: #0070ff;
}

.green {
  background: #0D6101;
}

.yellow {
  background: #FFFF0B;
}

.lgreen {
  background: #8CC58A;
}

.red {
  background: #FB0007;
}

.redred {
  background: #FF0000;
}

.orange {
  background: #FF8000;
}

.yellowyellow {
  background: #FFFF00;
}

.aquamarine {
  background: #71FFCA;
}

/* Legend styling */

.legend-box {
  border: 1px solid black;
  overflow: hidden;
}

.legend-title {
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 90%;
}

.legend-entry {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 90%;
}

.legend-subtitle {
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 80%;
}

.legend-explanation {
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 80%;
  /*text-align: left;*/
}

.legend-scale {
  margin: 0 auto;
}

.legend-scale ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.legend-scale ul li {
  display: inline-block;
  margin-right: -4px;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

ul.legend-items li span {
  display: inline-block;
  height: 15px;
  width: 50px;
  opacity:0.8;
}

.hidden-legend-item {
  height: 12px;
  width: 20px;
  display: none;
}

.legend-item {
  height: 12px;
  width: 20px;
  display: inline-block;
}

.boundary-legend-item {
  display: inline-block;
  height: 12px;
  width: 20px;
  background-image: url("../images/boundary.png");
}

.overlay-legend-item {
  display: inline-block;
  height: 14px;
  width: 14px;
}

.overlay-legend-item-stripes {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("../images/stripes.png");
}

.overlay-legend-item-gstripes {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("../images/gstripes.png");
}

.v-legend-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.v-legend-items li {
  margin: auto;
  padding: 0;
  list-style: none;
}

.v-legend-item-sel:hover {
  background-color:#E0E0E0;
  cursor: pointer;
}

/* Animation widget styling */

.playback-controls {
  /* margin: 0 auto; */
}

.playback-controls div {
  margin: auto;
  padding: 0;
  list-style: none;
}

.playback-controls div div {
  display: inline-block;
  margin: auto;
  padding: 0;
  list-style: none;
}

.howl-control {
	/*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
	border-radius: 10px;
  z-index: 1000;
}

.howl-control a {
  opacity: 0.8;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
  border-radius: 4px;
}

.howl-control a:hover {
	background-color: #f4f4f4;
}

.howl-control a img {
  width: 16px;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

/* Custom leaflet styling */
.leaflet-control {
  opacity: 0.8;
}

.leaflet-control-layers-expanded {
  opacity: 0.8;
}

.leaflet-control-layers-toggle {
	/*background-image: url(../images/layers.png);*/
	background-size: 18px 18px;
	width: 26px;
	height: 26px;
}

.leaflet-control-zoom-in:focus, .leaflet-control-zoom-out:focus {
  text-decoration: none;
  color: inherit;
}

.leaflet-popup-content-wrapper {
  text-align: center;
  max-height: 200px;
  overflow-y: auto;
}

@keyframes blinker {
  50% { opacity: 0.3; }
}

/* Custom cesium styling */
.cesium-timeline-bar {
    background: #F0F0F0;
}

.cesium-timeline-ticLabel {
    color: #000;
}

.cesium-timeline-ticMain {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 50%;
    background: #000;
}

.cesium-timeline-ticSub {
    background: #444;
}

.cesium-widget-credits {
  position: relative;
  color: #000000;
  text-shadow: none;
  margin: 0;
}

.cesium-credit-image img{
    height: 18px;
}

.cesium-timeline-icon16 {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url("../images/TimelineIcons.png");
	background-repeat: no-repeat;
  opacity: 0.6;
}

.cesium-selection-wrapper svg {
    fill: #FFFFFF;
    stroke: #000;
    stroke-width: 1.1px;
}

/* Cesium geocoder styling */

.cesium-viewer-toolbar {
  top: 10px;
  right: 12px;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input {
    /*border: solid 1px #444; */
    background-color: white;
    color: black;
    font-size: 80%;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 26px;
    margin: 0;
    padding: 0 26px 0 0;
    border-radius: 4px;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    -moz-transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    transition: width ease-in-out 0.25s, background-color 0.2s ease-in-out;
    -webkit-appearance: none;
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
    /*border-color: #aef; */
    opacity: 0.8;
    border: none;
    box-shadow: none;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus {
    /*border-color: #ea4;*/
    background-color: white;
    box-shadow: none;
    outline: none;
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input,
.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus,
.cesium-viewer-geocoderContainer .cesium-geocoder-input-wide {
    padding-left: 4px;
    width: 200px;
}

.cesium-viewer-geocoderContainer .search-results {
    position: absolute;
    background-color: white;
    color: black;
    overflow-y: auto;
    opacity: 0.8;
    width: 100%;
}

.cesium-viewer-geocoderContainer .search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cesium-viewer-geocoderContainer .search-results ul li {
    font-size: 80%;
    padding: 3px 10px;
}
.cesium-viewer-geocoderContainer .search-results ul li:hover {
    cursor: pointer;
}

.cesium-viewer-geocoderContainer .search-results ul li.active {
    background: darkgray;
}

.cesium-geocoder-searchButton {
    background-color: white;
    opacity: 0.8;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 26px;
    top: 1px;
    right: 1px;
    height: 26px;
    border-radius: 4px;
    border: none;
    vertical-align: middle;
    /*fill: #edffff; */
}

.cesium-geocoder-searchButton svg {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  margin-left: 3px;
  fill: black;
  border-radius: 4px;
  background-color: white;
  border: none;
  opacity: 0.8;
}

.cesium-geocoder-searchButton:hover {
    background-color: white;
}

/* Home view styling */

#homeLogo {
  display: block;
  width: 100%;
  /*border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;*/
  /*background-color: #F8F8F8;*/
}

#homeLogo img {
  width: 100px;
  margin: 10px;
  /* filter: opacity(30%); */
  /*background-color: wheat;*/
}

#homeLogoImage * {
  stroke: #569e26;
}

.img-hover-effect {
  /* Unfortunately transition below craps out on IE Edge */
  /*transition: all ease 0.5s; */
  filter: grayscale(90%);
  /*opacity: 0.9;*/
}

.img-hover-effect:hover {
  filter: grayscale(0%);
  /*opacity: 1;*/
}

.spacer {
  margin-top: 40px;
}

.grid {
  margin: 0 auto;
	opacity: 0;

	/*animation:fadeIn ease-in 1;
	animation-duration:1s;*/
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.grid-sizer,
.grid-item {
  width: 320px;
}

.panel {
  border-radius: 0;
	border: 0.5px solid light-gray;
	margin: 4px;
}


.panel-default>.panel-footer {
	background-color: #FFF;
}

.panel-caption {
	padding: 10px;
}

.panel-footer {
	border-bottom: none;
	border-color: #FFF;
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.panel-body img {
  display: block;
  margin: auto;
  width: 100%;
}
