<div style="text-align: center; color: #666; font-size: 18px;">
  <b>Oregon's Potential Forest Wilderness Areas by Ecoregion</b><br>({{acres}} thousand acres total)
</div>
<canvas id='summaryChart'></canvas>
<div style="font-size: 80%">Data source: <a href="http://oregonwild.org/" target="_blank">Oregon Wild</a>, May 2017</div>
