<div class="container-fluid">
  <div class="row navbar-inverse">
    <div id="homeLogo"><img id="homeLogoImage" src="../../images/howlgray.svg"></img></div>
  </div>
  <div class="row" style="background-color: #F0F0F0;">
    <div style="margin: 10px;">
      <h3>Highlighting Oregon's WildLands</h3>
      <p style="font-size: 130%; font-weight: 300">Oregon is a wonderful state. It is beautiful and it is wild. Mountains, ancient forests, clear waters and wildlife. But most of Oregon's incredible wildlands are not protected, and therefore are in serious danger of irreparable destruction. The purpose of this site is to raise awareness of Oregon's wildlands through selected 3D map-based 'spotlights.' This site will be updated and new 'spotlights' will be added over time, so be sure to check back every now and then to see what's going on.</p>
    </div>
  </div>
  <div id="noWebGLMessage" class="row" style="display: none; font-size: 130%; background-color: #F0E68C;">
    <br>Unfortunately your browser does not support WebGL graphics. Therefore, the spotlights below are not available for viewing.
    <br><br>
  </div>
  <div class="row spacer"></div>
  <div class="row">
    <h4>SPOTLIGHTS</h4>
  </div>
</div>
<div class="container-fluid" style="height: 90%; y-overflow: scroll;">
  <div class="row">
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item">
        <div class="panel panel-default">
          <a class="homeViewLinkItem" view="wildfires" href="#">
            <img class="img-responsive img-hover-effect" style="padding: 5px;" src="../../images/views/wildfires.jpg" alt="">
          </a>
          <div style="font-size: 70%; margin-top: -5px;">Photo by the Oregon Department of Forestry</div>
          <div class="panel-footer text-center">
            History of Wildfire Severity
          </div>
          <div class="panel-caption text-center">
            In the Pacific Northwest, fire is a natural part of healthy forests. Since 2004 the Federal Government has been conducting detailed wildfire severity assessments by analyzing before and after LANDSAT satellite images of fire boundaries. This 'spotlight' shows the history of wildfires in Oregon and their severity since 1984.
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="panel panel-default">
          <a class="homeViewLinkItem" view="ecopwilderness" href="#">
            <img class="img-responsive img-hover-effect" style="padding: 5px;" src="../../images/views/proposedwilderness.jpg" alt="">
          </a>
          <div style="font-size: 70%; margin-top: -5px;">Photo by Wikipedia user Axcordion</div>
          <div class="panel-footer text-center">
            Potential Wilderness Areas
          </div>
          <div class="panel-caption text-center">
            Did you know that Oregon has the least amount of proportional protected wilderness area as compared to California and Washington? 4% versus 15% and 10% respectively! Using this 'spotlight' you can explore potential wilderness areas that would raise Oregon to be on par with its neighbors.
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="panel panel-default">
          <a>
            <img class="img-responsive img-hover-effect" style="padding: 5px;" src="../../images/views/or7.jpg" alt="">
          </a>
          <div style="font-size: 70%; margin-top: -5px;">Photo by the Oregon Department of Fish and Wildlife</div>
          <div class="panel-footer text-center">
            The Journey of OR-7<br><i>(Coming soon)</i>
          </div>
          <div class="panel-caption text-center">
            In 2011 a wolf by the name of OR-7, Journey, decided to break away from its pack in Northeast Oregon and march over 1,000 miles all the way to California through wilderness and roadless areas looking for a mate to establish his own pack. OR-7 had a GPS collar, so his route has been thoroughly recorded. This 'spotlight' shows the incredible journey of OR-7.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row spacer"></div>
  <div class="row navbar-inverse" style="margin: 0 auto;">
    <div class="row spacer"></div>
    <h4 class="nav" style="color: white;">
      <a href="#" title="Share on Twitter" class="home-button btn-twitter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
      <a href="#" title="Share on Facebook" class="home-button btn-facebook">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>
    </h4>
    <br>
    <small style="color: #9D9D9D;"><a class="home-button" target="_blank" href="https://github.com/jimmyangel/howl">HOWL</a> is an open source, open data project</small>
  </div>
</div>
